In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/clean_data/financial_info.csv')

df.head(20)

       tconst       budget    box_office
0   tt0111161   25000000.0  2.890662e+07
1   tt0468569  185000000.0  1.008487e+09
2   tt1375666  160000000.0  8.390306e+08
3   tt0137523   63000000.0  1.013201e+08
4   tt0109830   55000000.0  6.782265e+08
5   tt0110912    8000000.0  2.139288e+08
6   tt0816692  165000000.0  7.332022e+08
7   tt0133093   63000000.0  4.676233e+08
8   tt0068646    6000000.0  2.503420e+08
9   tt0120737   93000000.0  8.840417e+08
10  tt0167260   94000000.0  1.156599e+09
11  tt1345836  250000000.0  1.085289e+09
12  tt0114369   33000000.0  3.273336e+08
13  tt0167261   94000000.0  9.489455e+08
14  tt1853728  100000000.0  4.260763e+08
15  tt0172495  103000000.0  4.653872e+08
16  tt0361748   70000000.0  3.214586e+08
17  tt0993846  100000000.0  4.070394e+08
18  tt0372784  150000000.0  3.753257e+08
19  tt0102926   19000000.0  2.727429e+08

In [3]:
df.shape

(2166, 3)

In [4]:
# drop duplicates
df = df.drop_duplicates()

df.shape

(2166, 3)

In [5]:
# remove NA
df = df.dropna()

df.shape

(2071, 3)

In [6]:
# output to json
df.to_json('../data/clean_data/financial_info.json', orient='records')